$mobile-bp: 768px

.form-wrap
  flex-grow: 1
  background: url(../../assets/images/background.svg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-color: #191b1e

  .form-title
    font-family: 'Montserrat', sans-serif
    font-size: 26px
    font-weight: 500
    margin: 40px 0
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
    text-align: center
    color: white
    @media (max-width: $mobile-bp)
      font-weight: 700
      font-size: 22px
      margin: 32px 0

  .form-container
    display: flex
    flex-flow: column
    max-width: 345px
    margin: 0 auto

    label
      color: white
      text-align: left
      line-height: 1.5
      display: flex
      flex-flow: column

    input
      margin-bottom: 24px
      margin-top: 8px

    input[type="submit"]
      height: 40px
      border: solid 1px #5b9af8
      border-radius: 8px
      background-color: #5b9af8
      line-height: 1.5
      color: white
      font-weight: 500
      font-size: 14px
      margin-bottom: 30px
      cursor: pointer

    .message-box
      width: 319px
      height: 178px
      resize: none
      padding-top: 5px
      padding-right: 12px
      margin-bottom: 32px
      margin-top: 8px
    .validation-error
      color: red
      position: absolute
      right: 0
      bottom: 0
      padding-right: 12px
      font-size: 14px
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    .message-error
      bottom: 8px

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)


  20%, 80%
    transform: translate3d(2px, 0, 0)


  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)


  40%, 60%
    transform: translate3d(4px, 0, 0)
