$mobile-bp: 768px

.nav-bar
  width: 100%
  height: 80px
  background-color: #292c32
  display: flex
  justify-content: center
  align-items: center
  position: relative
  @media (max-width: $mobile-bp)
    height: 64px
.top-center-circle
  width: 40px
  height: 40px
  background-color: #357df7
  border-radius: 50%
  @media (max-width: $mobile-bp)
    width: 32px
    height: 32px
.mag-glass
  width: 40px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 165px;
  @media (max-width: $mobile-bp)
    display: none
