$mobile-bp: 768px

.footer-wrap
  width: 100%
  background-color: #292c32

.social-media
  margin-top: 26px
  & > img
    margin: 0 45.5px
    width: 40px
    height: 40px
    @media (max-width: $mobile-bp)
      width: 32px
      height: 32px
      margin: 0 28.5px

.footer-page-routes
  display: flex
  flex-flow: wrap
  justify-content: space-between
  max-width: 1200px
  margin: 32px auto
  @media (max-width: $mobile-bp)
    flex-flow: column
    align-items: center;

.footer-links
  display: grid
  grid-template-columns: 1fr 1fr
  flex-grow: 1
  grid-row-gap: 15px
  min-width: 375px
  max-width: 812px
  a
    color: white;
    text-decoration: none;
    font-size: 14px
    &:nth-child(even)
      opacity: 0.6

.footer-input
  font-size: 14px
  font-weight: 500
  font-stretch: normal
  font-style: normal
  line-height: 1.5
  letter-spacing: normal
  color: #357df7b0
  opacity: 1
  width: 158px
  margin-right: 30px
  @media (max-width: $mobile-bp)
    margin-top: 32px
    margin-right: 0
