.App
  text-align: center
  min-height: 100vh
  display: flex
  flex-flow: column
  font-family: 'Montserrat', sans-serif

.relative
  position: relative

.flex-col
  display: flex
  flex-flow: column

.outline-input
  border-radius: 8px
  border: solid 1px rgba(255, 255, 255, 0.3)
  outline: none
  height: 36px
  color: white
  padding-left: 12px
  font-size: 14px
  background-color: #191b1e
